@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.body {margin:0;padding:0}
.cam{
        position:fixed;
        top: 100%;
        left: 25%;
        transform: translate(-50%, -50%);
}



.angle{

  font-size: 26;;
}
.boxed {

  width: 280px;
  height: 200px;
  border: 1px solid black ;
  position: fixed;
  top: 75%;
  left:60%;
  transform: translate(-50%, -50%);
  font-size: 23;
  font-family: 'Montserrat Ligth', sans-serif;
  padding-left:5;
  padding-right: 20;


} 

.button {
   display: block;
   height: 68px;
   width: 140 px;
   font-size: 26;
   font-family: 'Montserrat', sans-serif;
   background: white;
   border: 2px solid #B20738;
   -webkit-transition-duration: 0.1s; /* Safari */
   transition-duration: 0.1s;

   position: fixed;
   top: 75%;
   left: 85%;
   border-radius: 8px;
}

.button:hover {
    background-color: #B20738;
    color: white;
}
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1{
   transform: translate(-50%, -155%);

}

.button2{
   transform: translate(-50%, 55%);
}


.button3{
   transform: translate(55%, -50%);
}


.button4{
   transform: translate(-155%, -50%);
}


.button5{
    height: 61px;
   width: 130px;

   background: #B20738;
   color: white;

   transform: translate(-50%, -50%);
   border: 2px solid black;
}

.button5:hover {
    font-weight: 900;
}

.button6{
	width: 300px;
	left: 84%;
	border-radius: 0px;
	background: white;
	color: black;
	position: fixed;
  top: 12%;
  left: 89%;
}
print_font{
    
    font-size: 19;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 57%;
    left: 85%;
    text-align: center;
    transform: translate(-50%, -50%);

}

header{
     font-size: 40;
     font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 5%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
 
}

temp{
    font-size: 30;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 80%;
    left: 59%;
    text-align: center;
    transform: translate(-50%, -50%);
 
}




canvas{
  outline:0;
  border:1px solid "black";
   width: 450px;
    height: auto;
  position: fixed;
   top: 35%;
    left:  73%;
    text-align: center;
    transform: translate(-50%, -50%);

}
